.cell { 
    display: flex;
    width: 20px;
    height: 20px;
    border-style: dotted;
    flex: 1;
}

.fill {
    color: #e56b6f;
    background-color: #b56576;
}

.bandw {
    color: black;
    background-color: whitesmoke;
}

#container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 650px;
    height: 650px;
}

h1, h2, #page, #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    margin-top: 30px;
    margin-bottom: 0px;
    justify-content: space-evenly;
    align-items: baseline;
}

button {
    background-color: #ffb5a7;
    border-style: dotted;
    border-radius: 10px;
}

body {
    font-family: 'Russo One', sans-serif;
    background-color: #f8edeb;
    color: #6d597a;
}